<h1>Title: {{title}}</h1>
<p><strong>Author: </strong> <a href="{{book.author.url}}">{{book.author.name}}</a></p>
<p><strong>Summary: </strong>{{book.summary}}</p>
<p><strong>Genre: </strong>
{{#each book.genre}}
<a href="{{this.url}}">{{this.name}}</a>{{#if_less_than @index ../book.genre.length}}, {{/if_less_than}}
{{/each}}
<div style="margin-left:20px;margin-top:20px">
    {{#each book_instances}}
    <hr>
    {{#if_eq this.status "Available"}}
    <p class="text-success">{{this.status}}</p>
    {{else}}
        {{#if_eq this.status "Maintenance"}}
        <p class="text-danger">{{this.status}}</p>
        {{else}}
        <p class="text-warning">{{this.status}}</p>
        {{/if_eq}}
    {{/if_eq}}
    <p><strong>Imprint:</strong> {{this.imprint}}</p>
    {{#if_neq val.status "Available"}}
    <p><strong>Due back:</strong> {{this.due_back}}</p>
    {{/if_neq}}
    <p><strong>ID:</strong>
    <a href="{{this.url}}">#{{this._id}}</a></p>
    {{else}}
    <p>There are no copies of this book in the library.</p>
    {{/each}}
</div>
<hr>
<p>
    <a href="{{book.url}}/delete">Delete Book</a>
</p>
<p>
    <a href="{{book.url}}/update">Update Book</a>
</p>

